@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(210, 46%, 95%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: hsl(0, 0%, 81%);
}

.main {
    margin: 0 auto;
}

.card {
    max-width: 23rem;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

#card-z {
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 2rem;
}

.card-a {
    background-color: hsl(263, 55%, 52%);
    
}

.card-b {
    background-color: hsl(217, 19%, 35%);
}

.card-c {
    background-color: hsl(0, 0%, 100%);
}

.card-d {
    background-color: hsl(219, 29%, 14%);
}

.card-e {
    background-color:  hsl(0, 0%, 100%);
}

#card-z1 {
    display: flex;
    flex-direction: row;
    padding-bottom: 1.5rem;
    align-items: center;
}

img {
    display: block;
    max-width: 100%;
    width: 3rem;
    height: 3rem;
    border: 0.2rem hsl(0, 0%, 81%) solid;
    border-radius: 50%;
    margin-right: 1.2rem;
}

span {
    opacity: 50%;
}

#a1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    padding-bottom: 1rem;
    font-family: "Outfit", sans-serif;
}

#az {
    opacity: 70%;
    color: hsl(0, 0%, 81%);
}

#az2, #az-2 {
    color: hsl(217, 19%, 35%);
    
}

#az2 {
    opacity: 70%;
}

#a2 {
    color: hsl(219, 29%, 14%);
    font-size: 1.5rem;
    padding-bottom: 1rem;
    font-family: "Outfit", sans-serif;
}

@media only screen and (min-width: 30rem) {
    .card {
        max-width: 90rem;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        grid-template-rows: auto auto;
        align-items: normal;
    }
    .card-a {
        grid-column-start: 1;
        grid-column-end: 6; 
    }
    .card-d {
        grid-column-start: 2;
        grid-column-end: 7;
    }
    .card-e {
        grid-column-start: 7;
        grid-column-end: 8; 
        grid-row-start: 1;
        grid-row-end: 3;
    }
    #card-z {
        border-radius: 0.5rem;
        padding: 2rem;
        margin: 1rem;
    }    
}